naff[voice]==2.0.0
naff_audio
requests
pymongo
beanie
motor
Pillow
python-dateutil
dnspython
tabulate
rapidfuzz
duckpy
youtube-search
fastapi
uvicorn
oauthlib
Authlib
starlette
httpx
itsdangerous
python-multipart
jinja2
django
starsessions==1.2.3
python-dotenv
gunicorn