git+https://github.com/interactions-py/interactions.py.git@5.x
requests
pymongo
beanie
motor
Pillow
python-dateutil
dnspython
tabulate
rapidfuzz
duckpy
youtube-search
ytmusicapi
spotipy
fastapi
uvicorn
oauthlib
Authlib
starlette
httpx
itsdangerous
python-multipart
jinja2
django
starsessions==1.2.3
python-dotenv
gunicorn
mkdocs
mkdocs-material
mkdocstrings[python]