git+https://github.com/NAFTeam/NAFF.git
fastapi
uvicorn
python-jose
oauthlib
Authlib
starlette
httpx
itsdangerous
python-multipart
jinja2
django
requests
pymongo
beanie
motor
Pillow
python-dateutil
dnspython
tabulate