<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      a{
        text-decoration: none !important; 
        color: white !important;
      }
      a:hover{
        /* box-shadow: inset 0 -1.2em 0 #725a7a86; */
        color: #ffcc50 !important;
      }
      #centerbox{
        color: white !important;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        /* font-family: Menlo, monospace; */
      }
    </style>
    <title>Melody</title>
    {% block head %}
    {% endblock %}
  </head>
  <body style="background-color: #ffcc50;"> <!-- #0d1820 -->
    <script src="{{ url_for('static', path='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', path='js/jquery.js') }}"></script>
    {% block body %}
    {% endblock %}
    <div id="body-con" class="container-fliud">
      <div id="centerbox" class="row row-cols-1" align="center">
        {% block centerbox %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>