{% extends 'base.html' %}

{% block head %}
<style>
  .c-border{
    border: 2px solid #bcb6dc;
  }
  #ext{
    background-color: #4d555b;
    border: 5px solid #4d555b;
    border-radius: 3px;
    width: 300px;
    font-size: 20px;
    align-content: center;
  }
  /* #ext:hover{
    border: 5px solid #ffffff;
  } */
  a{
    text-decoration: none !important; 
    color: white !important;
  }
  a:hover{
    /* box-shadow: inset 0 -1.2em 0 #725a7a86; */
    color: white !important;
  }
  .ah{
    color: white !important;
  }
  .ah:hover{
    color: #ffcc50 !important;
  }
  .btn{
    width: 105px;
    height: 38px;
    text-align: center;
  }
  .form-switch{
    width: 80px;
  }
</style>
<nav class="navbar navbar-expand-lg fixed-top" style="height: 60px; background-color: #ffd66ed0;">
  <div class="d-flex container-fluid">
    <a class="mx-2" href="/melody">
      <img class="rounded-circle" style="height: 45px; width: auto;" src="https://images-ext-2.discordapp.net/external/n7heL_LvVUOohEeWfV4crtDZv7dKixvGxC8IpPHnMmc/%3Fsize%3D4096/https/cdn.discordapp.com/avatars/887648476387762186/ab9b45d840a51ce343c2f9cf17e1ece8.png?width=676&height=676" alt="">
    </a>
    <a class="mx-2" href="/melody"><h4>Melody</h4></a>

    <button id="sidebarToggle" class="btn btn-outline-light d-lg-none mx-2" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar" style="width: 50px; height: 40px;">
      <i class="fa-solid fa-bars"></i>
    </button>
    
    <div class="d-none d-lg-block me-auto">
      <a class="btn btn-outline-light mx-2 ah" href="/">Home</a>
      <a class="btn btn-outline-light mx-2 ah" href="https://discord.gg/gravityfalls">Discord</a>
      <a class="btn btn-outline-light mx-2 ah" href="/melody/docs">Docs</a>
      <a class="btn btn-outline-light mx-2 ah" href="https://github.com/siren15/melody">GitHub</a>
    </div>
    <div is="usrdiv" class="d-none d-lg-block">
      {% if user %}
        <a id="usr" href="/melody/user"><img class="rounded-circle mx-2" style="width: auto; height: 45px;" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.png"></img>{{user.username}}#{{user.discriminator}}</a>
        <a href="/melody/logout" class="btn btn-outline-danger mx-2" style="color: white; width: 50px;"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
      {% else %}
        <a href="/melody/login" class="btn btn-outline-warning mx-2" style="color: white;">Login</a>
      {% endif %}
    </div>
  </div>
  <div class="offcanvas offcanvas-end d-lg-none" id="sidebar" aria-labelledby="offcanvasRightLabel" tabindex="-1" style="background-color: #4d555b; color: #ffffff; width: fit-content;">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="navbar-nav justify-content-center flex-grow-1 pe-3 me-auto">
        <li class="nav-item"><a class="btn btn-outline-light mx-2 my-2 ah" href="/">Home</a></li>
        <li class="nav-item"><a class="btn btn-outline-light mx-2 my-2 ah" href="https://discord.gg/gravityfalls">Discord</a></li>
        <li class="nav-item"><a class="btn btn-outline-light mx-2 my-2 ah" href="/melody/docs">Docs</a></li>
        <li class="nav-item me-auto"><a class="btn btn-outline-light mx-2 my-2 ah" href="https://github.com/siren15/melody">GitHub</a></li>
      </div>
      <hr>
      <div class="">
        <div is="usrdiv">
          {% if user %}
            <a id="usr" href="/melody/user"><img class="rounded-circle mx-2" style="width: auto; height: 45px;" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.png"></img>{{user.username}}#{{user.discriminator}}</a>
            <a href="/melody/logout" class="btn btn-outline-danger mx-2" style="color: white; width: 50px;"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
          {% else %}
            <a href="/melody/login" class="btn btn-outline-warning mx-2" style="color: white;">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block body %}
<object style="position: fixed; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); z-index: -1;" id="wave" data="{{ url_for('static', path='images/shapes.svg') }}" type="image/svg+xml"></object>
{% endblock %}

{% block centerbox %}
<div class="col my-3 mx-3">
  <h1>Extensions</h1>
</div>
<div class="col my-3 mx-3">
  <div class="row row-cols-1 justify-content-center">
    {% for extension in extensions %}
    <div id="ext" class="col mx-2 my-2">
      <div class="float-start mx-1 my-1">{{extension.name}}</div>
      {% if extension.can_be_disabled %}
        {% if extension.is_disabled %}
          <button style="width: fit-content;" class="btn btn-outline-danger mx-1 my-1 float-end" data-bs-toggle="modal" data-bs-target="#{{extension.url}}modal">Disable</button>
        {% else %}
          <button style="width: fit-content;" class="btn btn-outline-light mx-1 my-1 float-end" data-bs-toggle="modal" data-bs-target="#{{extension.url}}modal">Enable</button>
        {% endif %}
      {% endif %}
      <a class="btn btn-outline-light mx-1 my-1 float-end" style="width: 40px;" href="{{extension.url}}">
        <i class="fa-solid fa-gear"></i>
      </a>
    </div>

    {% if extension.can_be_disabled %}
      <!-- Modal -->
      <div class="modal fade" id="{{extension.url}}modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div style="background-color: #211f25;" class="modal-body" align="center">
              <h5 class="modal-title text-white mx-1 my-1" id="staticBackdropLabel">Do you really want to disable {{extension.name}}?</h5>
              <form action="/melody/user/{{guild_id}}/change" method="post">
                <input type="hidden" id="event" name="event" value="{{extension.event_name}}">
                <input type="hidden" name="csrftoken" value="{{csrftoken}}" />
                <div class="container-fliud">
                  {% if extension.can_be_disabled %}
                    {% if extension.is_disabled %}
                      <button type="submit" class="col btn btn-outline-danger mx-1 my-1">Disable it.</button>
                    {% else %}
                      <button type="submit" class="col btn btn-outline-success mx-1 my-1">Enable it.</button>
                    {% endif %}
                  {% endif %}
                  <button type="button" class="col btn btn-outline-warning mx-1 my-1" data-bs-dismiss="modal">No.</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<script>
  $(document).on('show.bs.modal', '.modal', function () {
    $(this).appendTo('body');
  });
</script>
{% endblock %}