{% extends 'base.html' %}

{% block head %}
<style>
  .c-border{
    border: 2px solid #bcb6dc;
  }
  #ext{
    background-color: #4d555b;
    border: 5px solid #4d555b;
    border-radius: 3px;
    width: 300px;
    font-size: 20px;
    align-content: center;
  }
  /* #ext:hover{
    border: 5px solid #ffffff;
  } */
  a{
    text-decoration: none !important; 
    color: white !important;
  }
  a:hover{
    /* box-shadow: inset 0 -1.2em 0 #725a7a86; */
    color: white !important;
  }
  .ah{
    color: white !important;
  }
  .ah:hover{
    color: #ffcc50 !important;
  }
  .btn{
    width: 105px;
    height: 38px;
    text-align: center;
  }
  .form-switch{
    width: 80px;
  }
</style>
<link href="{{ url_for('static', path='fonts/stylesheet.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', path='css/croppie.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='css/leaderboard.css') }}">
<nav class="navbar navbar-expand-lg fixed-top" style="height: 60px; background-color: #ffd66ed0;">
  <div class="d-flex container-fluid">
    <a class="mx-2" href="/melody">
      <img class="rounded-circle" style="height: 45px; width: auto;" src="https://images-ext-2.discordapp.net/external/n7heL_LvVUOohEeWfV4crtDZv7dKixvGxC8IpPHnMmc/%3Fsize%3D4096/https/cdn.discordapp.com/avatars/887648476387762186/ab9b45d840a51ce343c2f9cf17e1ece8.png?width=676&height=676" alt="">
    </a>
    <a class="mx-2" href="/melody"><h4>Melody</h4></a>

    <button id="sidebarToggle" class="btn btn-outline-light d-lg-none mx-2" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar" style="width: 50px; height: 40px;">
      <i class="fa-solid fa-bars"></i>
    </button>
    
    <div class="d-none d-lg-block me-auto">
      <a class="btn btn-outline-light mx-2 ah" href="/">Home</a>
      <a class="btn btn-outline-light mx-2 ah" href="https://discord.gg/gravityfalls">Discord</a>
      <a class="btn btn-outline-light mx-2 ah" href="/melody/docs">Docs</a>
      <a class="btn btn-outline-light mx-2 ah" href="https://github.com/siren15/melody">GitHub</a>
    </div>
    <div is="usrdiv" class="d-none d-lg-block">
      {% if user %}
        <a id="usr" href="/melody/user"><img class="rounded-circle mx-2" style="width: auto; height: 45px;" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.png"></img>{{user.username}}#{{user.discriminator}}</a>
        <a href="/melody/logout" class="btn btn-outline-danger mx-2" style="color: white; width: 50px;"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
      {% else %}
        <a href="/melody/login" class="btn btn-outline-light mx-2 ah" style="color: white;">Login</a>
      {% endif %}
    </div>
  </div>
  <div class="offcanvas offcanvas-end d-lg-none" id="sidebar" aria-labelledby="offcanvasRightLabel" tabindex="-1" style="background-color: #4d555b; color: #ffffff; width: fit-content;">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="navbar-nav justify-content-center flex-grow-1 pe-3 me-auto">
        <li class="nav-item"><a class="btn btn-outline-light mx-2 my-2 ah" href="/">Home</a></li>
        <li class="nav-item"><a class="btn btn-outline-light mx-2 my-2 ah" href="https://discord.gg/gravityfalls">Discord</a></li>
        <li class="nav-item"><a class="btn btn-outline-light mx-2 my-2 ah" href="/melody/docs">Docs</a></li>
        <li class="nav-item me-auto"><a class="btn btn-outline-light mx-2 my-2 ah" href="https://github.com/siren15/melody">GitHub</a></li>
      </div>
      <hr>
      <div class="">
        <div is="usrdiv">
          {% if user %}
            <a id="usr" href="/melody/user"><img class="rounded-circle mx-2" style="width: auto; height: 45px;" src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.png"></img>{{user.username}}#{{user.discriminator}}</a>
            <a href="/melody/logout" class="btn btn-outline-danger mx-2" style="color: white; width: 50px;"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
          {% else %}
            <a href="/melody/login" class="btn btn-outline-light mx-2 ah" style="color: white;">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block body %}
<object style="z-index: -1; position: fixed; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);" id="wave" data="{{ url_for('static', path='images/shapes.svg') }}" type="image/svg+xml"></object>
<div class="">
  <div style="height: 60px;"></div>
  {% if user %}
    {% if levelinfo %}
    <div class="row row-cols-1 w-50 mx-auto">
      <div class="col card mx-1 my-1" style="width: 337px; height:153px; background-color: transparent; border-color: transparent;">
        <img id="bg" src="{{levelinfo.lc_background}}">
        <img id="bgOverlay" src="{{ url_for('static', path='images/overlay.png') }}">
        <p id="name">{{levelinfo.name}}</p>
        <p id="stats">XP: {{levelinfo.xp_to_next_level}}<br>Total XP: {{levelinfo.xp}}<br>Messages: {{levelinfo.messages}}</p>
        <p id="level">LVL:{{levelinfo.level}}</p>
        <img id="bgAvatar" class = "rounded-circle" src="{{ levelinfo.avatar_url }}">
        <div id="pgbarbox" class="progress" style="background-color: #fff0;">
          <div id="pgbar" class="progress-bar bg-success" role="progressbar" style="width: {{levelinfo.percent}}px;"></div>
        </div>
      </div>
      <div style="padding-left: 0px; padding-right:0px;">
        <input type="file" id="imageinput" name="image" accept="image/jpeg, image/png, image/gif" style="display: None;">
        <button id="changeBtn" class="btn btn-outline-light ah mx-1 my-1" style="width: fit-content;">Change Background</button>
        <button id="resetButton" class="btn btn-outline-danger mx-1 my-1" style="width: fit-content;">Reset Background</button>
      </div>
    </div>

    <form id="imageform" action="{{ url_for('test_upload') }}" method="POST"></form>
    <form id="resetForm"></form>
    <!-- Modal -->
    <div class="modal fade" id="CropModal" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="img-container">
              <!-- <img id="cropimage" alt="Image"> -->
              <div id="cropimage"></div>
            </div>
          </div>
          <div class="modal-footer" style="border-color: #25252a;">
            <button type="button" class="btn btn-danger" id="cropCancel">Close</button>
            <button type="button" class="btn btn-success" id="crop">Upload!</button>
          </div>
        </div>
      </div>
    </div>
    <div id="saveAlert" class="row row-cols-2 justify-content-md-center fixed-bottom" style="width: 100%; display: none;">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Be careful! You have unsaved changes!</h4>
        <button id="cancelbtn" class="btn btn-danger">Cancel</button> <button id="savebtn" type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
    <div id="successAlert" class="row row-cols-2 justify-content-md-center fixed-bottom" style="width: 100%; display: none;">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Background successfully changed!</h4>
      </div>
    </div>
    <div id="errorAlert" class="row row-cols-2 justify-content-md-center fixed-bottom" style="width: 100%; display: none;">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">An error occured while changing the background!</h4>
      </div>
    </div>
    <div id="fileSizeErrorAlert" class="row row-cols-2 justify-content-md-center fixed-bottom" style="width: 100%; display: none;">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">File size too large! Files can be max 8mb!</h4>
      </div>
    </div>

    <div id="progressAlert" class="row row-cols-2 justify-content-md-center fixed-bottom" style="width: 100%; display: none;">
      <div class="alert alert-danger" role="alert">
        <div class="spinner-border text-light" role="status">
          <span class="visually-hidden">Uploading...</span>
        </div>
      </div>
    </div>

    <div id="resetSaveAlert" class="row row-cols-2 justify-content-md-center fixed-bottom" style="width: 100%; display: none;">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Be careful! You have unsaved changes!</h4>
        <button id="resetCancelButton" class="btn btn-danger">Cancel</button> <button id="resetSaveButton" type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
    <div id="resetSuccessAlert" class="row row-cols-2 justify-content-md-center fixed-bottom" style="width: 100%; display: none;">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Background was successfully reset!</h4>
      </div>
    </div>
    <div id="resetErrorAlert" class="row row-cols-2 justify-content-md-center fixed-bottom" style="width: 100%; display: none;">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">An error occured while resetting the background!</h4>
      </div>
    </div>
    {% endif %}
  {% endif %}

  <table class="table table-hover w-50 mx-auto" style="border-color: rgba(255, 255, 255, 0);">
    <thead class="">
        <tr>
        <th scope="col">Rank</th>
        <th scope="col">Member</th>
        <th scope="col">Level</th>
        <th scope="col">XP</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <th scope="row" class="align-middle">{{member.rank}}</th>
            <td class="align-middle"><img class = "rounded-circle" style="width: auto; height: 40px;" src = "{{member.avatar_url}}"></img>     {{member.username}}</td>
            <th scope="row" class="align-middle">{{member.level}}</th>
            <td class="align-middle">{{member.xp}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% if members %}
    {% if members.has_other_pages %}
      <div class="my-3 btn-group" style="margin-left: 50%; transform: translate(-50%, -50%);" role="group" aria-label="Item pagination">
          {% if members.has_previous %}
              <a href="?page={{ members.previous_page_number }}" class="btn btn-outline-light">&laquo;</a>
          {% endif %}

          {% for page_number in members.paginator.page_range %}
              {% if members.number == page_number %}
                  <button class="btn btn-outline-light active">
                      <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                  </button>
              {% else %}
                  <a href="?page={{ page_number }}" class="btn btn-outline-light">
                      {{ page_number }}
                  </a>
              {% endif %}
          {% endfor %}

          {% if members.has_next %}
              <a href="?page={{ members.next_page_number }}" class="btn btn-outline-light">&raquo;</a>
          {% endif %}
      </div>
    {% endif %}
  {% else %}
    <p>Nobody from this server has levels.</p>
  {% endif %}
</div>
<input type="hidden" id="obgurl" value="{{levelinfo.lc_background}}">
<input type="hidden" id="guildID" value="{{guild_id}}">
<input type="hidden" id="memberID" value="{{user.id}}">
<input type="hidden"  id="uploadurl" value="{{ url_for('test_upload') }}">
<input type="hidden" id="reseturl" value="{{ url_for('lvl_bg_reset') }}">
<input type="hidden"  id="defaultBG" value="{{ url_for('static', path='images/bg.png') }}">
<input type="hidden" id="csrftoken" value="{{csrftoken}}" />
<script src="{{ url_for('static', path='js/jquery.js') }}"></script>
<script src="{{ url_for('static', path='js/bootstrap.bundle.js') }}""></script>
<script src="{{ url_for('static', path='js/croppie.js') }}"></script>
<script src="{{ url_for('static', path='js/cropBackground.js') }}"></script>
{% endblock %}

{% block centerbox %}
{% endblock %}